{% extends "cdmi/root.html" %}
{% load static %}
{% load utils %}

{% block head %}
<script>
  function getCapabilities(url) {
      $('#changeqos').modal('show');
  };

  $(document).ready(function() {
      var $loading = $('#loadingDiv').hide();
      $(document)
          .ajaxStart(function () {
              $loading.show();
          })
          .ajaxStop(function () {
              $loading.hide();
          });

      {% if object_info %}
      $('#changeqos').modal('show');
      {% endif %}
  });
</script>
{% endblock %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong>{{ site.site_uri }}</strong>/{{ path }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button data-toggle="modal"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% else %}
                    data-target="#mkdir"
                    {% endif %}
                    class="btn btn-primary
                           {% if not site.can_browse %}disabled{% endif %}">
              Create Directory
            </button>
          </li>
          <li>
            <button data-toggle="modal"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% else %}
                    data-target="#upload"
                    {% endif %}
                    class="btn btn-primary
                           {% if not site.can_browse %}disabled{% endif %}">
              Upload File
            </button>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

<div class="container">
  <div id="loadingDiv" align="center"><img src="{% static 'cdmi/img/loader.gif' %}" alt="loading"></div>
  <table class="table sortable" style="font-size:14px">
    <thead><tr>
        <th data-defaultsort="asc">Name</th>
        <th>Type</th>
        <th>Current QoS</th>
        <th data-defaultsort="disabled"></th>
        <th data-defaultsort="disabled">Target QoS</th>
        <th data-defaultsort="disabled"></th>
    </thead>
    <tbody>
      {% if path and path != '.' %}
      <tr>
        <td>
          <a href="{% url 'cdmi:browse' site.id path|dirname %}" method="get">
            ..
          </a>
        </td>
        <td>Directory</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="btn bare-btn btn-small" style="color: white">nil</div>
        </td>
      </tr>
      {% endif %}
      {% for o in object_list %}
      <tr>
        {% if o.type == "File" %}
        <td>
          {{ o.name }}
        </td>
        {% else %}
        <td>
          <a href="{% if path %}
                    {% url 'cdmi:browse' site.id path|add:"/"|add:o.name %}
                   {% else %}
                    {% url 'cdmi:browse' site.id o.name %}
                   {% endif %}">
            {{ o.name }}
          </a>
        </td>
        {% endif %}
        <td>
          {{ o.type }}
        </td>
        <td>
          <a data-toggle="collapse" href="#{{ o.name|slugify }}"
             aria-expanded="false" aria-controls="{{ o.name|slugify }}">
            {{ o.capabilities_name }}
          </a>
          <div class="collapse" id="{{ o.name|slugify }}">
            <div>
		          <p>Associated at: {{ o.capabilities_association_time }}</p>
		          <p>Data lifetime: {{ o.capabilities_storage_lifetime }}</p>
		          <p>QoS lifetime: {{ o.capabilities_lifetime }}</p>
		          <p>{{ o.capabilities_lifetime_action }}</p>
		          <hr/>
              <p>Latency: {{ o.capabilities_latency }}</p>
		          <p>Throughput: {{ o.capabilities_throughput }}</p>
              <p>Redundancy: {{ o.capabilities_redundancy }}</p>
              <p>Geolocation: {{ o.capabilities_geolocation }}</p>
            </div>
          </div>
        </td>
        <td style="width: 200px">
          {% if o.capabilities_target %}
          <img src="{% static 'cdmi/img/progress.gif' %}" alt="loading" width="150">
          {% endif %}
        </td>
        <td>
          {% if o.capabilities_target %}
          <em>{{ o.capabilities_target|basename }}</em>
          {% else %}
          <div class="dropdown">
            <!-- <li class="dropdown"> -->
            <a href="#" class="dropdown-toggle
                               {% if not o.capabilities_allowed %}disabled{% endif %}"
               {% if not o.capabilities_allowed %}
               style="cursor: not-allowed; text-decoration: none"
               title="No transitions available for {{ o.capabilities_name }}"
               {% endif %}
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
              Select<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
	            {% for allowed in o.capabilities_allowed %}
              <form action="{% url 'cdmi:browse' site.id path %}" method="get">
                {% csrf_token %}
                <input type="hidden" name="name" value="{{ o.name }}" />
                <input type="hidden" name="info" value="{{ allowed }}" />
                <input type="hidden" name="nextbutone" value="{{ request.get_full_path }}" />
                <input type="hidden" name="type" value="{{ o.type }}"
                <li>
                  <button class="btn btn-link" type="submit">{{ allowed|cut:"/cdmi_capabilities/" }}</button>
                </li>
                <!-- <li role="separator" class="divider"></li> -->
                <!-- <li class="dropdown-header">Nav header</li> -->
              </form>
              {% endfor %}
            </ul>
            <!-- </li> -->
          </div>
        </td>
        {% endif %}
        <td>
          <form action="{% url 'cdmi:delete' site.id path %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ o.name }}" />
            <button class="btn bare-btn btn-small
                           {% if not site.can_browse %}disabled{% endif %}"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% endif %}
                    type="submit" style="color: red">Delete</button>
          </form>
        </td>
      </tr>
      {% if o.capabilities_polling %}
      <script>
        setTimeout(function() { window.location.reload(1); }, {{ o.capabilities_polling }});
      </script>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% if messages %}
  <table class="table">
    <tbody>
      {% for message in messages %}
      <tr{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <td>{{ message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadLabel">Upload file</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'cdmi:upload' site.id path %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <input type="file" id="file" name="file">
            <p class="help-block">Search for files to upload.</p>
            {#<input type="hidden" name="path" value="{{ path }}" />#}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mkdirLabel">Create Directory</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'cdmi:mkdir' site.id path %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" id="name" name="name">
            <p class="help-block">Name of directory</p>
            {#<input type="hidden" name="path" value="{{ path }}" />#}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeqos" tabindex="-1" role="dialog" aria-labelledby="changeqosLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="changeqosLabel">Change Quality-of-Service</h4>
      </div>
      {% if object_info %}
      <div class="modal-body">
        <table class="table" style="font-size:14px">
          <thead>
            <tr>
              <th>{{ object_info.name }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Latency:</td>
              <td>{{ object_info.latency }}</td>
            </tr>
            <tr>
              <td>Number of copies:</td>
              <td>{{ object_info.copies }}</td>
            </tr>
            <tr>
              <td>Locations:</td>
              <td>{{ object_info.location }}</td>
            </tr>
            <tr>
              <td>Allowed transitions:</td>
              <td>{{ object_info.transitions }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <form action="{% url 'cdmi:update' site.id object_info.path %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="qos" value="{{ object_info.url }}"></input>
          {#<input type="hidden" name="path" value="{{ object_info.path }}"></input>#}
	        <input type="hidden" name="is_dir" value="{{ object_info.is_dir }}"></input>
          <input type="hidden" name="next" value="{{ next_url }}" />
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancle</button>
          <button type="submit" class="btn btn-success">Change</button>
        </form>
      </div>
      {% else %}
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancle</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
