{% extends "cdmi/root.html" %}
{% load static %}
{% load utils %}

{% block head %}
<script>
  {% include 'cdmi/browse.js' %}
</script>
{% endblock %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if site.logo_uri %}
        <a class="navbar-brand" style="padding: 5px 15px"><img src="{{ site.logo_uri }}" height="40"></a>
        {% endif %}
        <a class="navbar-brand" href="#"><strong>{{ site.site_uri }}</strong>/{{ path }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button data-toggle="modal"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% else %}
                    data-target="#mkdir"
                    {% endif %}
                    class="btn btn-primary
                           {% if not site.can_browse %}disabled{% endif %}">
              Create Directory
            </button>
          </li>
          <li>
            <button data-toggle="modal"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% else %}
                    data-target="#upload"
                    {% endif %}
                    class="btn btn-primary
                           {% if not site.can_browse %}disabled{% endif %}">
              Upload File
            </button>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

<div class="container">
  {% if error %}
  {% include 'cdmi/dict.html' with object=error %}
  {% else %}
  <table class="table sortable" style="font-size:14px">
    <thead><tr>
        <th data-defaultsort="asc">Name</th>
        <th>Type</th>
        <th>Current QoS</th>
        <th data-defaultsort="disabled"></th>
        <th data-defaultsort="disabled">Target QoS</th>
        <th data-defaultsort="disabled"></th>
    </thead>
    <tbody>
      {% if path and path != '.' %}
      <tr>
        <td>
          <a href="{% url 'cdmi:browse' site.id path|dirname %}" method="get">
            ..
          </a>
        </td>
        <td>Directory</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="btn bare-btn btn-small" style="color: white">nil</div>
        </td>
      </tr>
      {% endif %}
      {% for o in object_list %}
      <tr>
        {% if o.type == "File" %}
        <td>
          {{ o.name }}
        </td>
        {% else %}
        <td>
          <a href="{% if path %}
                    {% url 'cdmi:browse' site.id path|add:"/"|add:o.name %}
                   {% else %}
                    {% url 'cdmi:browse' site.id o.name %}
                   {% endif %}">
            {{ o.name }}
          </a>
        </td>
        {% endif %}
        <td>
          {{ o.type }}
        </td>
        <td id="qos-{{ o.name|slugify }}">
          <script>
            $("#qos-{{ o.name|slugify }}").makeqosentry(
                "{{ o.capabilities_name }}",
                {
                  {% if capabilities_storage_lifetime %}
                  cdmi_data_storage_lifetime: "{{ o.capabilities_storage_lifetime }}",
                  {% endif %}
                  cdmi_capability_lifetime: "{{ o.capabilities_lifetime }}",
                  cdmi_capability_lifetime_action: "{{ o.capabilities_lifetime_action }}",
                  cdmi_latency: "{{ o.capabilities_latency }}",
                  cdmi_throughput: "{{ o.capabilities_throughput }}",
                  cdmi_data_redundancy: "{{ o.capabilities_redundancy }}",
                  cdmi_geographic_placement: {{ o.capabilities_geolocation|safe }},
                });
          </script>
        </td>
        <td style="width: 200px">
          <img id="progress-{{ o.name|slugify }}"
               src="{% static 'cdmi/img/progress.gif' %}"
               style="display: none"
               alt="loading" width="150">
        </td>
        <td id="entry-{{ o.name|slugify }}"
            data-name="{{ o.name }}"
            data-type="{{ o.type }}"
            data-id="{{ o.name|slugify }}">
          <div id="target-{{ o.name|slugify }}"
              style="display: none">
            {{ o.capabilities_target|basename }}
          </div>
          <div id="select-{{ o.name|slugify }}"
               class="dropdown">
            <!-- <li class="dropdown"> -->
            <a href="#" class="dropdown-toggle{% if not o.capabilities_allowed %} disabled{% endif %}"
               {% if not o.capabilities_allowed %}
               style="cursor: not-allowed; text-decoration: none"
               title="No transitions available for {{ o.capabilities_name }}"
               {% endif %}
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
              Select<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for allowed in o.capabilities_allowed %}
              <li>
                <button class="btn btn-link"
                        onclick="$('#entry-{{ o.name|slugify }}').changeqos('{{ allowed }}')">
                  {{ allowed|basename }}
                </button>
              </li>
              {% endfor %}
            </ul>
            <!-- </li> -->
          </div>
        </td>
        <td>
          <form action="{% url 'cdmi:delete' site.id path %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ o.name }}" />
            <button class="btn bare-btn btn-small
                           {% if not site.can_browse %}disabled{% endif %}"
                    {% if not site.can_browse %}
                    title="Unavailable for this CDMI site"
                    {% endif %}
                    type="submit" style="color: red">Delete</button>
          </form>
        </td>
      </tr>
      <script>
        {% if o.capabilities_polling %}
        $("#entry-{{ o.name|slugify }}").poll({{ o.capabilities_polling }});
        {% endif %}
      </script>
      {% endfor %}
    </tbody>
  </table>
  {% if messages %}
  <table class="table">
    <tbody>
      {% for message in messages %}
      <tr{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <td>{{ message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadLabel">Upload file</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'cdmi:upload' site.id path %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <input type="file" id="file" name="file" required>
            <p class="help-block">Search for files to upload.</p>
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mkdir" tabindex="-1" role="dialog" aria-labelledby="mkdirLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mkdirLabel">Create Directory</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'cdmi:mkdir' site.id path %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" id="name" name="name" required>
            <p class="help-block">Name of directory</p>
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
