{% extends "cdmi/root.html" %}
{% load static %}

{% block head %}
<!-- Sortable Bootstrap table: https://github.com/drvic10k/bootstrap-sortable -->
<script src="{% static 'cdmi/js/moment.min.js' %}"></script>
<script src="{% static 'cdmi/js/bootstrap-sortable.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cdmi/css/bootstrap-sortable.css' %}" />

<script>
<!-- Hide all other details when one is shown -->
$(document).ready(function() {
  var $allDetails = $('#details');
  $allDetails.on('show.bs.collapse','.collapse', function() {
      $allDetails.find('.collapse.in').collapse('hide');
 });
});
</script>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Available Qualities of Service</h1>
  <table class="table table-hover sortable"
         id="qos">
    <thead>
      <tr>
        <th data-defaultsort="asc">Name</th>
        <th>Access Latency</th>
        <th>Number of Copies</th>
        <th>Location</th>
        <th>Storage type</th>
        <th>Available Transitions</th>
      </tr>
    </thead>
    <tbody>
      {% for qos in qualities_of_service %}
      <tr style="cursor: pointer;" data-toggle="collapse"
          data-target="#details-{{ qos.name|slugify }}">
        <td>{{ qos.name }}</td>
        <td>{{ qos.latency }}</td>
        <td>{{ qos.copies }}</td>
        <td>{{ qos.location.0 }}</td>
        <td data-value="{{ qos.storage_types|slugify }}">
          {% for type in qos.storage_types %}
          <img title="{{ type|capfirst }}"
               src="{% get_static_prefix %}cdmi/img/{{ type }}.png"
               width="20"></img>
          {% empty %}
          <img title="Other"
               src="{% static 'cdmi/img/other.png' %}"
               width="20"></img>
          {% endfor %}
        </td>
        <td>{{ qos.transitions|join:", " }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <div id="details">
  {% for qos in qualities_of_service %}
    <div class="collapse"
         id="details-{{ qos.name|slugify }}">
      <h2>{{ qos.name }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>CDMI URL</td>
            <td>{{ qos.url }}</td>
          </tr>
          <tr>
            {% if qos.datapath %}
            <td>Data Access</td>
            <td><a href="{{ qos.datapath }}">Go to Site</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
