{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CDMI Web</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'cdmi/js/jquery-3.1.1.min.js' %}"></script>

    <!-- Twitter Bootstrap -->
    <script src="{% static 'cdmi/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cdmi/css/bootstrap.min.css' %}" />

    <!-- Sortable Bootstrap table: https://github.com/drvic10k/bootstrap-sortable -->
    <script src="{% static 'cdmi/js/moment.min.js' %}"></script>
    <script src="{% static 'cdmi/js/bootstrap-sortable.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cdmi/css/bootstrap-sortable.css' %}" />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'cdmi/css/custom.css' %}" />

    <script>
      {% include 'cdmi/root.js' %}
    </script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div id="loadingDiv" class="navbar-brand">
            <img src="{% static 'cdmi/img/loader.gif' %}" alt="loading" height="25px">
          </div>
          <a class="navbar-brand" href="/">CDMI Web</a>
        </div>
        <p class="navbar-text">Logged in as: {{ request.user.username }}</p>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'openid:logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <div class="container">
      <table id="messages" class="table">
        <tbody>
          {% for message in messages %}
          <tr{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <td>{{ message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
