body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

/*
  See https://blog.thinkingstiff.com/2012/06/26/highlight-table-column-on-hover-using-css/
 */

table.hh {
    overflow: hidden;
}

td:hover.hh::after {
    background-color: #f5f5f5;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td.hh, th.hh {
    cursor: pointer;
    position: relative;
}
